<ul class="footerMenu" class="clear">
    <li class="menuLink">
        <a class="advice_link" href="" title="">&nbsp;</a>
        <div class="not_bubble">1</div>
    </li>
    <li class="menuLink">
        <a class="msgs_link" href="" title="">&nbsp;</a>
        <div class="not_bubble">3</div>
    </li>
    <li class="menuLink">
        <a class="write_link" href="#editpost" title="">&nbsp;</a>
    </li>
    <li class="menuLink">
        <a class="stats_link" href="" title="">&nbsp;</a>
    </li>
    <li class="menuLink noMarginRight">
        <a class="calendar_link" href="#calendar" title="">&nbsp;</a>
    </li>
</ul>