<div class="header-inner">
    <a href="#left-panel" class="fllt top_menu_link bars_link">&nbsp;</a>
    <a href="#home" class="home_link">Εργασία Web</a>
    <a href="#descriptionPopup" class="flrt top_menu_link info_link" data-rel="popup" data-position-to="window">&nbsp;</a>
    <div data-role="popup" id="descriptionPopup" class="ui-corner-all">
        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        <div class="app_info_wrap">
            <h1 class="aligncenter">Εφαρμογές στον Παγκόσμιο Ιστό</h1>
            <h2 class="aligncenter">Διδάσκων: Βασίλης Βασσάλος</h2>
            <h3 class="aligncenter">Φοιτητές: Κλειδής Νικόλαος - Σερενίδης Δημήτριος</h3>
            <p>Ανάπτυξη web εφαρμογής που εκμεταλλεύεται τις σημαντικότερες τελευταίες web τεχνολογίες, με ιδιαίτερη έμφαση σε τεχνικές AJAX, responsive design και σε τεχνολογίες για mobile συσκευές.
                Βασικό αντικείμενο αποτελεί η ανεύρεση κοντινών σημείων ενδιαφέροντος. Χρησιμοποιούνται δημοσίως διαθέσιμα γεωγραφικά δεδομένα (με πηγές <a target="_blank" href="http://geodata.gov.gr">geodata.gov.gr</a> και <a target="_blank" href="http://www.foursquare.com/">foursquare.com</a>), διαχωριζόμενα σε κατηγορίες. 
            <p><strong>Βασικές τεχνολογίες</strong><br/>
                PHP, html5, css, Javascript, MySQL<br/>
                <strong>Frameworks & apis</strong><br/>
                JQuery,  Google maps api, Handlebars<br/>
                <strong>Τεχνικές Προδιαγραφές</strong><br/>
                Client & server side validation,  Ajax,  JSON, token authentication, responsive design, 
                local storage, gzip compression, caching, CSS3, geolocation
            </p>
        </div>
    </div>
</div>