<div id="panel-header" class="fllt">
    <a href="#home" class="panel_icon panel_hand"></a>
    <span id="panel_title">Εργασία Web</span>
    <a href="javascript:void(0)" data-rel="close" class="panel_icon panel_bars"></a>
</div>
<ul id="panel-links" class="clear">
    <li><a href="javascript:void(0)" class="panel_link">
            <span class="panel_icon favourites"></span>
            <span data-langmsg="favourites"></span>
        </a></li>
    <li><a href="#search_location" class="panel_link">
            <span class="panel_icon favourite_places"></span>
            <span data-langmsg="favourite_places"></span>
        </a></li>
    <li><a href="#settings" class="panel_link">
            <span class="panel_icon settings"></span>
            <span data-langmsg="settings"></span>
        </a></li>
</ul>
<div id="panel-footer">
    <a href="javascript:void(0)" class="panel_link" onclick="signoutUser()">
        <span class="panel_icon log_out"></span>
        <span data-langmsg="log_out"></span>
    </a>
</div>