<ul data-role="listview">
    {{#each places}}
    <li class="prof_selection">
        <div class="prof_avatar">
            <img src="{{avatar}}" class="round_img"/>
            <div class="badges_icons">
                <div class="badge badge_small certified"></div>
                <div class="badge badge_small suggested"></div>
                <div class="badge badge_small offers"></div>
            </div>
        </div>
        <div class="prof_basic_info">
            <h3 class="prof_name">{{full_name}}</h3>
            <p class="prof_descr">{{info}}</p>
        </div>
        <div class="prof_side_info">
            <div class="prof_rating">{{rate_icons rating}}</div>
            <div class="prof_distance">{{distance}}</div>
            <div class="badge badge_small available"></div>
        </div>
        <div class="prof_details">
            <div class="prof_info">
                <h4 class="prof_info_header"><span data-langmsg="info"></span>:</h4>
                <p class="prof_full_descr">{{info}}</p>
            </div>
            <div class="aligncenter">
                <button class="pickButton" data-inline="true" data-id="{{id}}" data-name="{{full_name}}" data-rating="{{rating}}" data-img="{{avatar}}">Pick</button>
            </div>
        </div>
    </li>
    {{/each}}
</ul>