<div id="rating_header">
    <img id="rating_img" class="round_img contact_img" src="" alt=""/>
    <div class="rating_info">
        <span data-langmsg="please_rate"></span><span id="rating_prof_name" class="prof_name"></span>
        <div id="current_rating"></div>
    </div>
</div>
<div id="rating_bars">
    <div class="rating_category">
        <label class="rating_label"><span data-langmsg="price"></span></label>
        <span class="rating_bar price_bar"></span>
        <span class="rating_score"></span>
    </div>
    <div class="rating_category">
        <label class="rating_label"><span data-langmsg="quality"></span></label>
        <span class="rating_bar quality_bar"></span>
        <span class="rating_score"></span>
    </div>
    <div class="rating_category">
        <label class="rating_label"><span data-langmsg="availability"></span></label>
        <span class="rating_bar availability_bar"></span>
        <span class="rating_score"></span>
    </div>
</div>