<div class="clear" style="padding-top: 5px"></div>
<a id="editProfileButton" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-user" href="#editProfilePopup" data-rel="popup" data-position-to="window"><span data-langmsg="edit_profile_details"></span></a>
<button id="signoutButton" onclick="signoutUser()" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-power"><span data-langmsg="sign_out"></span></button>
<div class="clear" style="padding-top: 5px"></div>
<div data-role="popup" id="editProfilePopup" class="ui-corner-all">
</div>